name: Build container image

on:
  push:
    branches:
      - main
    tags:
      - '*'
    paths-ignore:
      - README.md
      - docs/**
      - tests/**
      - .pre-commit-config.yaml
      - .github/**
      - "!.github/workflows/image.yaml"
  pull_request:
    paths-ignore:
      - README.md
      - docs/**
      - tests/**
      - .pre-commit-config.yaml
      - .github/**
      - "!.github/workflows/image.yaml"
  workflow_dispatch:

env:
  # only publish from this repo, not forks
  PUBLISHING_REPO: jupyterhealth/jupyterhealth-exchange
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build-image:
    services:
      # So that we can test this in PRs/branches
      local-registry:
        image: registry:2
        ports:
          - 5000:5000

    runs-on: ubuntu-24.04
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
        with:
          persist-credentials: false

      - name: Should we push this image to a public registry?
        shell: python
        run: |
          import os
          repo = "${{ github.repository }}"
          event = "${{ github.event_name }}"
          ref = "${{ github.event.ref }}"
          if (
              repo == "${{ env.PUBLISHING_REPO }}"
              and event == "push"
              and (
                  ref.startswith("refs/tags/")
                  or ref == "refs/heads/main"
              )
          ):
              print(f"Publishing image to {os.environ['REGISTRY']}")
          else:
              # PR or fork, don't push
              print("Publishing image to local registry")
              with open(os.environ["GITHUB_ENV"], "a") as f:
                  f.write(f"REGISTRY=localhost:5000\n")

      # https://github.com/docker/setup-qemu-action
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      # https://github.com/docker/setup-buildx-action
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          # Allows pushing to registry on localhost:5000
          driver-opts: network=host

      # use hash pinning on actions that get access to secrets.GITHUB_TOKEN
      - name: Log in to the Container registry
        if: env.REGISTRY == 'ghcr.io'
        uses: docker/login-action@65b78e6e13532edd9afa3aa52ac7964289d1a9c1
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # https://github.com/docker/metadata-action
      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@9ec57ed1fcdbf14dcef7dfbe97b2010124a938b7
        with:
          tags: |
            type=ref,event=branch
            type=ref,event=tag
            type=sha,prefix=
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}

      # https://github.com/docker/build-push-action
      - name: Build and push Docker image
        id: push
        uses: docker/build-push-action@f2a1d5e99d037542a71f64918e516c093c6f3fc4
        with:
          push: true
          platforms: linux/amd64,linux/aarch64
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
